.page_3{
    padding-top:5rem;
    padding-bottom:7rem;
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items:center;
}
/* .title_2{
    margin-left:19rem;  
    margin-bottom:2rem;
    margin-top:5rem;
    width:100vw;
} */
.page_3{
    /* padding-top:4rem; */
}
.title_2{
    padding-bottom:1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.get_to_know_1{
    /* margin-left:2rem; */
}

.about_me{
    font-size:40px;
    font-style:unset;
    font-family:Arial, Helvetica, sans-serif;
}
.three-container{
    padding-top:5rem;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    align-items: center;
    gap:1vw;
    padding-bottom:2rem;
}
.web-design{
    width:24rem;
    height:23rem;
    border:20px;
    padding-top:7rem;
    padding-left:2rem;
    border-radius:10px;
    border:solid 1px;
    border-color: rgb(0, 0, 0);
    cursor:pointer;

}
.img-serv{
    margin-left:2rem;
    margin-bottom:1rem;
}
.text-border{
    padding-bottom:5px;
    padding-bottom: 5px;
}
.learn-link{
    color: rgba(92, 206, 69, 0.473);
    font-size: 16px;
    margin-top:20px;
    display: inline-block; 

}.web-design:hover{
    /* background: #6d6d6d32; */
    transform:translateY(-20px);
    color: black;
    border-color: rgb(0, 0, 0);
    
}
.arrow_icon4{
    margin-left:60rem;
}
@media (max-width:1244px) and (min-width:881px){
    .three-container{
        display:grid;
        grid-template-columns:1fr 1fr;
        align-items: center;
        gap:3vw;
        padding-bottom:2rem;
    }
}
@media (max-width:881px) and (min-width:455px){
    .three-container{
        display:grid;
        grid-template-columns:1fr;
        align-items: center;
        gap:3vw;
        padding-bottom:2rem;
    }
}
@media (max-width:455px) and (min-width:0px){
    .three-container{
        display:grid;
        grid-template-columns:1fr;
        align-items: center;
        gap:3vw;
        padding-bottom:2rem;
    }
    .web-design{
        width:84vw;
        height:50vh;
        border:20px;
        padding-top:7rem;
        padding-left:2rem;
        border-radius:10px;
        border:solid 1px;
        border-color: rgb(0, 0, 0);
        cursor:pointer;
    
    }
}
