.page_3{
    padding-top:5rem;
    padding-bottom:7rem;
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.about_me{
    font-size:40px;
    font-style:unset;
    font-family:Arial, Helvetica, sans-serif;
}
.three-container{
    padding-top:3rem;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    align-items: center;
    gap:1vw;
    padding-bottom:2rem;
}
.web-design{
    width: 21rem;
    height: 20rem;
    border: 20px;
    padding-top: 5rem;
    padding-left:2rem;
    border-radius:10px;
    border:solid 1px;
    border-color: rgba(181, 181, 181, 0.203);
    cursor:pointer;
    background-color:bl;

}
.img-serv{
    margin-left:2rem;
    margin-bottom:1rem;
    border:solid;
    background-color: white;
}
.text-border{
    padding-bottom:5px;
    padding-bottom: 5px;
    font-size: 15px;
    color: #b1b1b1;
}
.text-p{
    color: #b1b1b1;
    font-size: var(--nextui-font-size-small);
}
.learn-link{
    color: rgba(92, 206, 69, 0.473);
    font-size: 16px;
    margin-top:20px;
    display: inline-block; 

}
@media (max-width:1244px) and (min-width:881px){
    .three-container{
        display:grid;
        grid-template-columns:1fr 1fr;
        align-items: center;
        gap:3vw;
        padding-bottom:2rem;
    }
}
@media (max-width:881px) and (min-width:455px){
    .three-container{
        display:grid;
        grid-template-columns:1fr;
        align-items: center;
        gap:3vw;
        padding-bottom:2rem;
    }
}
@media (max-width:455px) and (min-width:0px){
    .three-container{
        display:grid;
        grid-template-columns:1fr;
        align-items: center;
        gap:3vw;
        padding-bottom:2rem;
    }
    .web-design{
        width:84vw;
        height:50vh;
        border:20px;
        padding-left:0.5rem;
        border-radius:10px;
        border:solid 1px;
        border-color: rgb(0, 0, 0);
        cursor:pointer;
    
    }
}
