:root {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif !important;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    color: #000000;
    width: 100%;
    height: 100vh;
     overflow-x: hidden;
     scroll-behavior: smooth;
     font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    
}
h1 {
    font-family: 'Playfair Display', serif; /* Elegant font for headers */
    font-weight: 600; /* Bold weight */
  }

.logo-name{
    font-style: italic;
}
.h-menu{
    margin-left:34rem;
    cursor: pointer;
    
}
.h-menu >a{
    gap:2rem;
    padding-right:3rem;
    text-decoration: none;
    color:white;
}
.h-menu >a:hover{
    color: rgba(255, 255, 255, 0.677);
}
.skills{
    display: flex;
    gap:1rem;
}
.arrow_icon,.arrow_icon1,.arrow_icon2{
    width:25px;
    height:25px;
}
.about_me{
    font-size: 1.875rem;
    line-height: 2.25rem;
    text-transform: uppercase;
    font-weight: 700;
  }
  .get_to_know{
    display:none;
      font-size:17px;
      font-style: italic;
  }

.wait{
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding:0;
    gap: 20px;
}


.loading-panel{
    display: grid;
}

.loading-panel .spinner{
    width: 40px;
    height: 40px;
    place-self:center;
    border: 3px solid #bdbdbd;
    border-top-color:rgb(0, 0, 0);
    border-radius:50%;
    animation:rotate 1s linear infinite;
}

@keyframes rotate{
    100%{
        transform:rotate(360deg);
    }
}
.logo{
   font-size:19px;
   font-style: italic;
   color: #353535; 
}
@media (max-width: 773px) and (min-width:0px) {
    .about_me{
    font-size: 1.15rem;
    line-height: 2.25rem;
    text-transform: uppercase;
    font-weight: 700;
  }
  .get_to_know{
    display:none;
      font-size:17px;
      font-style: italic;
  }
}

